{% extends config.get("twig_base_index") %}
{% block content %}    
<br/>
    <div class="col-md-6">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a  class="state"  href="#{{app.request.get('elementId')~'_'}}azja-japonia-tab" aria-controls="{{app.request.get('elementId')~'_'}}azja-japonia-tab" role="tab" data-route="core_prototype_ajaxcontroller_read.{{app.request.getLocale()}}" data-route-params='{ "id": 2,"entityName": "{{classmapperservice.getEntityName("PhantomBundle\\Entity\\Product")}}" }' data-toggle="tab">Japonia</a></li>
            <li role="presentation"  ><a  class="state"   href="#{{app.request.get('elementId')~'_'}}azja-chiny-tab" aria-controls="{{app.request.get('elementId')~'_'}}azja-chiny-tab" role="tab" data-toggle="tab"  data-route="core_prototype_ajaxcontroller_read.{{app.request.getLocale()}}" data-route-params='{ "id": 1,"entityName": "{{classmapperservice.getEntityName("PhantomBundle\\Entity\\ProductCategory")}}" }'  >Chiny</a></li>
        </ul>


        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active tab-panel-container" id="{{app.request.get('elementId')~'_'}}azja-japonia-tab" >


            </div>
            <div role="tabpanel" class="tab-pane  tab-panel-container" id="{{app.request.get('elementId')~'_'}}azja-chiny-tab"  >  <a class="lazy" href="sdfsdfd" id="{{app.request.get('elementId')~'_'}}chuan" data-load-target="#test-div" >Chuan</a></div>
        </div>

        <div id="test-div"></div>




    </div>


<div  class="col-md-6">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a class="state" href="#{{app.request.get('elementId')~'_'}}euro-szwecja-tab" aria-controls="{{app.request.get('elementId')~'_'}}euro-szwecja-tab" role="tab" data-route="core_prototype_ajaxcontroller_read.{{app.request.getLocale()}}" data-route-params='{ "id": 2,"entityName": "{{classmapperservice.getEntityName("PhantomBundle\\Entity\\Product")}}" }' data-toggle="tab">Szwecja</a></li>
            <li role="presentation"  ><a  class="state"   href="#{{app.request.get('elementId')~'_'}}euro-norwegia-tab" aria-controls="{{app.request.get('elementId')~'_'}}euro-norwegia-tab" role="tab" data-toggle="tab"  data-route="core_prototype_ajaxcontroller_read.{{app.request.getLocale()}}" data-route-params='{ "id": 1,"entityName": "{{classmapperservice.getEntityName("PhantomBundle\\Entity\\ProductCategory")}}" }'  >Norwegia</a></li>
        </ul>


        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active tab-panel-container" id="{{app.request.get('elementId')~'_'}}euro-szwecja-tab" >


            </div>
            <div role="tabpanel" class="tab-pane  tab-panel-container" id="{{app.request.get('elementId')~'_'}}euro-norwegia-tab"  >  <a class="lazy" href="sdfsdfd" id="{{app.request.get('elementId')~'_'}}chuan" data-load-target="#test-div" >Stefan</a></div>
        </div>

        <div id="test-div"></div>



</div>




{% endblock content %}

