{% extends config.get("twig_base_index") %}
{% block content %}    

    <a id="fsdfds+productcategory-ajaxlist" class="lazy" href="http://localhost/symfony1/web/app_dev.php/panel/ajax/productcategory/ajaxlist" data-load-target="#test-div" >test1</a>
    <a id="notification-ajaxlist" class="lazy" href="http://localhost/symfony1/web/app_dev.php/panel/ajax/notification/ajaxlist" data-load-target="#test-div"  >test2</a>
    <a id="notificationstatus-ajaxlist" class="lazy" href="http://localhost/symfony1/web/app_dev.php/panel/ajax/notificationstatus/ajaxlist" data-load-target="#test-div" >test3</a>
    <div id="test-div" style="width:500px;height:500px;"></div>




    <div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a class="static-tab" href="#europa-tab" aria-controls="productcategory-show-tab" role="tab" data-link-level="1" data-toggle="tab">{{ "productcategory"|trans }}</a></li>
            <li role="presentation"  ><a class="lazy-tab" href="#azja-tab" aria-controls="productcategory-products-tab" role="tab" data-toggle="tab" data-link-level="1" data-route="core_prototype_ajaxcontroller_list.{{app.request.getLocale()}}" data-route-params='{ "parentName":"{{classmapperservice.getEntityName("PhantomBundle\\Entity\\ProductCategory")}}" , "parentId": "{{entity.id}}", "entityName": "{{classmapperservice.getEntityName("PhantomBundle\\Entity\\Product")}}" }'  data-load-target="" >{{ "products"|trans}}</a></li>
        </ul>


        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active tab-panel-container" id="europa-tab" > {% block element %}{% endblock %}</div>
            <div role="tabpanel" class="tab-pane  tab-panel-container" id="a-tab"  ></div>
        </div>





    </div>







{% endblock content %}

{% block js %}
    {{ parent() }}
    <!--<script src="{{asset("bundles/coreprototype/js/lazyLoadedTab.js")}}"></script>-->
    <script src="{{asset("bundles/coreprototype/js/lazyLoader.js")}}"></script>
    <script>



        $().lazyLoader({'defaultContainer': '#test-div', 'defaultPath': window.location.href});



        $(document).on('click', '.lazy-tab', function (e) {

            var url = Routing.generate($(this).data("route"), $(this).data("route-params"));
            $().lazyLoader('load', $(this).attr('href').substr(1), url, $(this).data("load-target"),'appendUrl');
           
            return false;

        });


        $(document).on('click', '.static-tab', function (e) {


            var defaultPath = $().lazyLoader('defaultPath')
            $().lazyLoader('replaceUrl', $(this).attr('href').substr(1), defaultPath, $(this).data("load-target"));

            return false;

        });


        $(document).on('click', '.lazy', function (e) {
            e.preventDefault();
            $().lazyLoader('load', $(this).attr('id'), $(this).attr('href'), $(this).data("load-target"),'replaceUrl');
            return false;

        });

        window.onpopstate = function (event) {
            console.debug(event.state);
            if (event.state) {
                console.debug(event.state);
                $().lazyLoader('reload', event.state.url, event.state.target);
            }
            else {
                window.location.reload();
            }
        };


    </script>

{% endblock %}